{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<H1>test</H1>

<div class="d-flex justify-content-center p-3 text-primary-emphasis bg-dark-subtle border border-dark-subtle">
    <div class="card" style="width: 64rem;">
        <div class="card-header d-flex justify-content-center mt-1">
            <h5>Añadir empleado</h5>
        </div>
        <div class="card-body">
            <form action="" method="POST" style="margin: 0 auto;" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">RUT:</label>
                    <div class="col-sm-4">
                        {{ form.rut }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form.nombre }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_apellido" class="col-sm-4 col-form-label">Apellido:</label>
                    <div class="col-sm-4">
                        {{ form.apellido }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Tipo de empleado:</label>
                    <div class="col-sm-4">
                        {{ form.tipo }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Tipo de mécanico:</label>
                    <div class="col-sm-4">
                        {{ form.tipo_mecanico }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Descripción de servicios:</label>
                    <div class="col-sm-4">
                        {{ form.descripcion }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Imagen:</label>
                    <div class="col-sm-4">
                        {{ form.imagen }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Captcha:</label>
                    <div class="col-sm-4">
                        {{ form.captcha }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Añadir" class="btn btn-success mx-1">
                    <input type="reset" value="Limpiar" class="btn btn-secondary mx-1">
                </div>
            </form>
            <h5 class="mt-3">{{ msj }}</h5>
        </div>
    </div>
</div>

{% endblock %}
